{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Resultado de la busqueda de libro por Titulo</h1>
<p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p>
{% endblock %}

{% block contenido1 %}
<h2>TITULOS ENCONTRADOS</h2>

{% if titulo_libro_k %}
<ul position: relative; style= "list-style-type: none">
    {% for titulo in titulo_libro_k %}
    <li style="width: 25%; position: relative; float:left; margin: 15px; width: 200px; text-align: center ">
        <div class="portada">
            <img src= "{{ titulo.portada }}">
            <br>
        </div>
        <div class="titulo">
            <a>{{ titulo.titulo }}</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>NO SE ENCONTRARON TITULOS</p>
{% endif %}
{% endblock %}