{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
{% endblock %}

{% block contenido1 %}
<div class="row">
    <div class="col-md-8">
        <h1 style="font-family: Impact; font-size: 40px; color: #b67d37"> {{ blog.titulo }} </h1>
        <span style="font-family: Impact; font-size: 20px; color: #4c371e">Autor: {{blog.autor}}</span>
        <div>
            <small style="font-style: italic; color: #4c371e"> Fecha de carga: {{ blog.post_date }}</small>
        </div>
        <div class="container jutify-content-left">
            <img src="{{ blog.portada }}" >
        </div>

        <div>
            {% if user.is_superuser %}
                <div class="dropdown-center" style="margin-top: 10px;">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 11px;">
                    Menu de administrador
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#" style="font-size: 11px;">Editar detalles del libro</a></li>
                        <li><a class="dropdown-item" href="#" style="font-size: 11px;">Eliminar libro</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}