{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">Biblioteca completa!</h1>
<!-- <p class="lead">Proyecto pre-final Coder-Python / Comision 31105 / grupo Fernando - Francisco</p> -->
{% endblock %}

{% block contenido1 %}
<h3>Esta es toda nuestra selección de libros: </h3>

{% if libros %}
<ul position: relative; style= "list-style-type: none">
        {% for titulo in libros %}
            <li style="width: 25%; position: relative; float:left; margin: 15px; width: 200px; text-align: center ">
                <div class="portada">
                    <img src= "{{ titulo.portada }}">
                    <br>
                </div>
                <div class="titulo">
                    <a href="{% url 'blogDetail' titulo.slug %}" style="text-decoration:none; color: black;">{{ titulo.titulo }}</a>
                </div>
            </li>
        {% endfor %}
</ul>
<!-- Solo se puede agregar libros si estas logueadx -->
{% if user.is_authenticated %}
<a type="button" class="btn btn-outline-success" href="{% url 'librosf'%}" >Agregar Libro</a>
{% endif %}
{% else %}
<p>NO SE ENCONTRARON TITULOS</p>
{% endif %}
{% endblock %}