{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<img src="\static\LibCatalogo\assets\img\envio_cuotas.png" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
{% endblock %}

{% block contenido1 %}
{{ mensaje }}

<h2>Que vamos a encontar en la seccion libros?</h2>
{% if user.is_authenticated %}

{% endif %}
<p class="lead">En esta seccion encontraremos todos los titulos que se encuentran disponibles en la Lib!</p>
<ul>
    <li>Registrate para acceder a importantes beneficios!</li>
    <li>Podes realizar busquedas por titulo/autores/genero</li>
    <li>Todos los dias se agregan nuevos titulos!</li>
    <li>Subscrite y recibi por mail todas las novedades de la semana</li>
</ul>

{% endblock %}