{% extends "LibCatalogo/padre.html" %}

{% load static %}

{% block titulo %}
<img src="\static\LibCatalogo\assets\img\envio_cuotas.png" style="width: 100%; margin-top: 10px;">
<div>
    <h2 class="display-6"  style="text-align: center; margin-top: 15px;">Disfrutá de las mejores lecturas</h2>
</div>
{% endblock %}

{% block contenido1 %}
    {{ mensaje }}

    <div>
    <h3 style="font-family: Impact; margin-left: 15px; font-size: 40px; color: #b67d37"> NOVEDADES </h3>
    </div>

    {% if libros %}
        <ul position: relative; style= "list-style-type: none">
                {% for titulo in libros %}
                    <li style="width: 25%; position: relative; float:left; margin: 15px; width: 200px; text-align: center ">
                        <div class="portada">
                            <img src= "{{ titulo.portada }}">
                            <br>
                        </div>
                        <div class="titulo">
                            <a>{{ titulo.titulo }}</a>
                        </div>
                    </li>
                {% endfor %}
        </ul>
    {% endif %}

{% endblock %}